# Python Practic

In [1]:
1+1

2

In [2]:
1-1

0

In [3]:
1*1

1

In [4]:
1/1

1.0

In [6]:
5/2.0

2.5

In [7]:
2 ** 4

16

In [8]:
5%2

1

In [9]:
3+2 * 5+3

16

In [10]:
(3+2) * (5+3)

40

In [13]:
# variable declaration
var_value = 5

In [15]:
var_value

5

In [16]:
var_value = var_value+var_value

In [17]:
var_value

10

In [18]:
'This is a string'

'This is a string'

In [19]:
"This is a string"

'This is a string'

In [20]:
"This is Jahanzeb's pen"

"This is Jahanzeb's pen"

In [21]:
string_val = "This is a string"

In [22]:
string_val

'This is a string'

In [23]:
string_val[1]

'h'

In [24]:
string_val[5]

'i'

In [25]:
string_val[5:]

'is a string'

In [26]:
string_val[:5]

'This '

In [27]:
string_val[5:7]

'is'

In [28]:
print(string_val)

This is a string

In [29]:
age = 21
name = "Bobby"

In [31]:
print("The age of {} is {}".format(age, name))

The age of 21 is Bobby

In [32]:
print("The age of {} is {} and he is {}".format(age, name, age))

The age of 21 is Bobby and he is 21

In [34]:
print("The age of {age} is {name} and he is {age}".format(age=age, name=name))

The age of 21 is Bobby and he is 21

In [35]:
[1, 2, 3]

[1, 2, 3]

In [37]:
my_list = [1, 2, 3, "Hi"]

In [38]:
my_list[1]

2

In [39]:
my_list = [1, 2, 3, "Hi", ['a', 'b', 'c']]

In [40]:
my_list

[1, 2, 3, 'Hi', ['a', 'b', 'c']]

In [43]:
my_list[4][1]

'b'

In [44]:
my_list = [1, 2, 3, "Hi", ['a', 'b', 'c', [1, 2, 3, 4]]]

In [50]:
my_list[4][3][2]

3

In [3]:
d = {'key1':'item1','key2':'item2', 'key3':'Hi', 'key4':[1, 2, 3]}
print(d)

{'key1': 'item1', 'key2': 'item2', 'key3': 'Hi', 'key4': [1, 2, 3]}

In [5]:
d['key1']

'item1'

In [7]:
d['key4'][1]

2

In [8]:
True

True

In [9]:
False

False

In [11]:
t = (1, 2, 3)
print(t)

(1, 2, 3)

In [13]:
my_list = [1, 2, 3, "Hi"]
print(my_list)

[1, 2, 3, 'Hi']

In [14]:
my_list[0] = 'a'

In [15]:
my_list

['a', 2, 3, 'Hi']

In [17]:
t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [19]:
s = {1, 2, 3}
s

{1, 2, 3}

In [21]:
s.add(4)

In [23]:
s.pop()

1

In [24]:
s

{2, 3, 4}

In [27]:
s.add(2)

In [28]:
s

{1, 2, 3, 4}

In [31]:
1 == 1

True

In [32]:
1 > 2

False

In [33]:
1 >= 1

True

In [35]:
'ali' == 'ali'

True

In [36]:
True and True

True

In [37]:
(1>2) and (2==2)

False

In [38]:
(1>2) or (2==2)

True

In [39]:
if 1<2:
    print('ok')

ok

In [41]:
if 1>2:
    print('ok')
else:
    print('not ok')

not ok

In [44]:
if 1==2:
    print('ok')
    
if 1<2:
    print('ok ok')
elif 1==1:
    print('maybe ok')
else:
    print('jane de')

ok ok

In [45]:
n_list = [1, 2, 3]
print(n_list)

[1, 2, 3]

In [48]:
for wa in n_list:
    print('wa')

wa
wa
wa

In [49]:
i = 1
while i<10:
    print('wa')
    i=i+1

wa
wa
wa
wa
wa
wa
wa
wa
wa

In [58]:
for wa in range(1,11):
    print('wa')

wa
wa
wa
wa
wa
wa
wa
wa
wa
wa

In [54]:
n_list = list(range(10))
print(n_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# This is a python comment
x = list(range(1, 10))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
out = []
for num in x:
    out.append(num**3)
print(out)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [6]:
[num**3 for num in x]

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [18]:
def squareValue(para1=1):
    """
    Made by Jahanzeb
    To help define a method
    It prints hi as a string
    """
    print(para1**2)
squareValue(4)

16

In [19]:
lambda para1: para1**2

In [25]:
ma = map(squareValue, x)
print(list(ma))

1
4
9
16
25
36
49
64
81
[None, None, None, None, None, None, None, None, None]

In [26]:
ma = map(lambda para1: para1**2, x)
print(list(ma))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
list(filter(lambda p1: p1%2==0, x))

[2, 4, 6, 8]

In [46]:
j = "Hello class how are you Batch 2"
j.lower()

'hello class how are you batch 2'

In [47]:
j.upper()

'HELLO CLASS HOW ARE YOU BATCH 2'

In [48]:
j.split()

['Hello', 'class', 'how', 'are', 'you', 'Batch', '2']

In [51]:
j.split()[0]

'Hello'

In [53]:
tweet = "Hello class how are you Batch 2 #NexSkillBatch2"
tweet

'Hello class how are you Batch 2 #NexSkillBatch2'

In [55]:
tweet.split('#')[1]

'NexSkillBatch2'

In [57]:
d = {'key1':1, 'key2':2, 'key3':3}
print(d)

{'key1': 1, 'key2': 2, 'key3': 3}

In [58]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [60]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])